absl-py==2.0.0
afdko==4.0.0
appdirs==1.4.4
attrs==23.1.0
axisregistry==0.4.5
babelfont==3.0.1
beautifulsoup4==4.12.2
blackrenderer==0.6.0
booleanOperations==0.9.0
Brotli==1.1.0
bump2version==1.0.1
bumpfontversion==0.4.1
cattrs==23.2.3
certifi==2023.11.17
cffi==1.16.0
cffsubr==0.2.9.post1
charset-normalizer==3.3.2
click==8.1.7
colorlog==6.8.0
compreffor==0.5.5
cryptography==41.0.7
cu2qu==1.6.7.post2
defcon==0.10.3
Deprecated==1.2.14
diffenator2==0.3.5
drawbot-skia==0.5.0
exceptiongroup==1.2.0
font-v==2.1.0
fontFeatures==1.8.0
fontmake==3.7.1
fontMath==0.9.3
fontParts==0.12.1
fontPens==0.2.4
fonttools==4.46.0
freetype-py==2.4.0
fs==2.4.16
gflanguages==0.5.12
gftools @ git+https://github.com/googlefonts/gftools@19d11fccbdbc1e4b0eb3b0948d02ac83ff7a8763
gitdb==4.0.11
GitPython==3.1.40
glyphsets==0.6.6
glyphsLib @ git+https://github.com/googlefonts/glyphsLib@1da0b185d280e4c74a40b33cfcbcbe6457ba6ed9
h11==0.14.0
hyperglot==0.4.5
idna==3.6
Jinja2==3.1.2
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
MutatorMath==3.0.1
nanoemoji==0.15.1
networkx==3.2.1
ninja==1.11.1.1
numpy==1.26.2
openstep-plist==0.3.1
opentype-sanitizer==9.1.0
orjson==3.9.10
outcome==1.3.0.post0
pendot @ git+https://github.com/simoncozens/Dotter/@177c207bd3aea4b0d1faf6bd867628cee03787eb
picosvg==0.22.1
Pillow==10.1.0
pngquant-cli==2.17.0.post5
protobuf==3.20.3
psautohint==2.4.0
pyahocorasick==2.0.0
pybind11==2.11.1
pyclipper==1.3.0.post5
pycparser==2.21
pygit2==1.13.3
PyGithub==2.1.1
Pygments==2.17.2
PyJWT==2.8.0
PyNaCl==1.5.0
pyparsing==3.1.1
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
resvg-cli==0.22.0.post3
rich==13.7.0
selenium==4.16.0
sh==2.0.6
six==1.16.0
skia-pathops==0.8.0.post1
skia-python==87.5
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
statmake==0.6.0
strictyaml==1.7.3
tabulate==0.9.0
toml==0.10.2
tqdm==4.66.1
trio==0.23.1
trio-websocket==0.11.1
ttfautohint-py==0.5.1
typing_extensions==4.8.0
ufo2ft==2.33.4
ufoLib2==0.16.0
ufonormalizer==0.6.1
ufoProcessor==1.9.0
uharfbuzz==0.37.3
unicodedata2==15.1.0
Unidecode==1.3.7
urllib3==2.1.0
vharfbuzz==0.2.0
vttLib==0.12.0
wrapt==1.16.0
wsproto==1.2.0
youseedee==0.3.0
zopfli==0.2.3
