(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
Amacron,
Aring,
Aringacute,
Atilde,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
Bhook,
Bmacronbelow,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Ddotaccent,
Ddotbelow,
Dhook,
Dmacronbelow,
Dtail,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Emacron,
Emacronacute,
Emacrongrave,
Eopen,
Esh,
Etilde,
Eturned,
Schwa,
Ezh,
Ezhcaron,
F,
Fdotaccent,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gdotaccent,
Glottalstopsmall,
Gmacron,
H,
Hcaron,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Imacron,
"Iota-latin",
Istroke,
Itilde,
J,
K,
Kacute,
Kcaron,
Kdotbelow,
Khook,
Kmacronbelow,
L,
Lacute,
Lbar,
Ldotbelow,
Ldotbelowmacron,
Ldoublebar,
Lmacronbelow,
Lmiddletilde,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
N,
Nacute,
Ncaron,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nmacronbelow,
Ntilde,
Eng,
O,
Oacute,
Obarred,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odieresis,
Odieresismacron,
Odotaccent,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Omacron,
Omacronacute,
Omacrongrave,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Pacute,
Pdotaccent,
Thorn,
Q,
Qhooktail,
R,
Racute,
Rcaron,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rmacronbelow,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
T,
Tcaron,
Tcedilla,
Tdotaccent,
Tdotbelow,
Tmacronbelow,
U,
Uacute,
Ubar,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Umacron,
Umacrondieresis,
"Upsilon-latin",
Uring,
Utilde,
Utildeacute,
V,
Vdotbelow,
Vhook,
Vtilde,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
Whook,
X,
Xdieresis,
Xdotaccent,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Saltillo,
Eng.BaselineHook,
Eng.Kom,
Nhookleft.LCStyle,
Saltillo.Lrg,
Yhook.RtHook,
Oopen.TopSerif,
Eng.UCStyle,
Abreveacute.VN,
Abrevegrave.VN,
Abrevehookabove.VN,
Abrevetilde.VN,
Acircumflexacute.VN,
Acircumflexgrave.VN,
Acircumflexhookabove.VN,
Acircumflextilde.VN,
Ecircumflexacute.VN,
Ecircumflexgrave.VN,
Ecircumflexhookabove.VN,
Ecircumflextilde.VN,
Ocircumflexacute.VN,
Ocircumflexgrave.VN,
Ocircumflexhookabove.VN,
Ocircumflextilde.VN,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adieresis,
adieresismacron,
adotaccent,
adotbelow,
adotmacron,
agrave,
ahookabove,
"alpha-latin",
amacron,
aring,
aringacute,
atilde,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
bhook,
bmacronbelow,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
d,
dcroat,
ddotaccent,
ddotbelow,
dhook,
dmacronbelow,
dtail,
eth,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
emacron,
emacronacute,
emacrongrave,
eopen,
esh,
eshreversedloop,
etilde,
eturned,
schwa,
ezh,
ezhcaron,
f,
fdotaccent,
g,
gacute,
"gamma-latin",
gbreve,
gcaron,
gcircumflex,
gdotaccent,
glottalstop,
glottalstopsmall,
gmacron,
h,
hcaron,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
hmacronbelow,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idieresis,
idieresisacute,
idotbelow,
igrave,
ihookabove,
imacron,
"iota-latin",
istroke,
itilde,
ij,
j,
jdotless,
k,
kacute,
kcaron,
kdotbelow,
khook,
kmacronbelow,
l,
lacute,
lbar,
ldotbelow,
ldotbelowmacron,
ldoublebar,
lmacronbelow,
lmiddletilde,
lslash,
m,
macute,
mdotaccent,
mdotbelow,
n,
nacute,
ncaron,
ndotaccent,
ndotbelow,
ngrave,
nhookleft,
nmacronbelow,
ntilde,
eng,
o,
oacute,
obarred,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odieresis,
odieresismacron,
odotaccent,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
omacron,
omacronacute,
omacrongrave,
oopen,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
oe,
p,
pacute,
pdotaccent,
thorn,
q,
qhook,
qhooktail,
r,
racute,
rcaron,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rmacronbelow,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
t,
tcedilla,
tdieresis,
tdotaccent,
tdotbelow,
tmacronbelow,
u,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
umacron,
umacrondieresis,
"upsilon-latin",
uring,
utilde,
utildeacute,
v,
vdotbelow,
vhook,
vtilde,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wdotaccent,
wdotbelow,
wgrave,
whook,
wring,
x,
xdieresis,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
ymacron,
yring,
ytilde,
z,
zacute,
zcaron,
zcircumflex,
zdotaccent,
zdotbelow,
zmacronbelow,
saltillo,
a.2StorySItal,
aacute.2StorySItal,
abreve.2StorySItal,
abreveacute.2StorySItal,
abrevedotbelow.2StorySItal,
abrevegrave.2StorySItal,
abrevehookabove.2StorySItal,
abrevetilde.2StorySItal,
acaron.2StorySItal,
acircumflex.2StorySItal,
acircumflexacute.2StorySItal,
acircumflexdotbelow.2StorySItal,
acircumflexgrave.2StorySItal,
acircumflexhookabove.2StorySItal,
acircumflextilde.2StorySItal,
adieresis.2StorySItal,
adieresismacron.2StorySItal,
adotaccent.2StorySItal,
adotmacron.2StorySItal,
agrave.2StorySItal,
ahookabove.2StorySItal,
amacron.2StorySItal,
aring.2StorySItal,
aringacute.2StorySItal,
ae.2StorySItal,
aeacute.2StorySItal,
aemacron.2StorySItal,
eng.BaselineHook,
i.Dotless,
istroke.Dotless,
j.Dotless,
eng.Kom,
nhookleft.LCStyle,
saltillo.Lrg,
yhook.RtHook,
f.SItal,
fdotaccent.SItal,
i.SItal,
idotless.SItal,
iacute.SItal,
ibreve.SItal,
icaron.SItal,
icircumflex.SItal,
idieresis.SItal,
idieresisacute.SItal,
idotbelow.SItal,
igrave.SItal,
ihookabove.SItal,
imacron.SItal,
itilde.SItal,
l.SItal,
lacute.SItal,
ldotbelow.SItal,
ldotbelowmacron.SItal,
lmacronbelow.SItal,
v.SItal,
vdotbelow.SItal,
vtilde.SItal,
z.SItal,
zacute.SItal,
zcaron.SItal,
zcircumflex.SItal,
zdotaccent.SItal,
zdotbelow.SItal,
zmacronbelow.SItal,
g.SngBowl,
gacute.SngBowl,
gbreve.SngBowl,
gcaron.SngBowl,
gcircumflex.SngBowl,
gdotaccent.SngBowl,
gmacron.SngBowl,
a.SngStory,
aacute.SngStory,
abreve.SngStory,
abreveacute.SngStory,
abrevedotbelow.SngStory,
abrevegrave.SngStory,
abrevehookabove.SngStory,
abrevetilde.SngStory,
acaron.SngStory,
acircumflex.SngStory,
acircumflexacute.SngStory,
acircumflexdotbelow.SngStory,
acircumflexgrave.SngStory,
acircumflexhookabove.SngStory,
acircumflextilde.SngStory,
adieresis.SngStory,
adieresismacron.SngStory,
adotaccent.SngStory,
adotbelow.SngStory,
adotmacron.SngStory,
agrave.SngStory,
ahookabove.SngStory,
amacron.SngStory,
aring.SngStory,
aringacute.SngStory,
atilde.SngStory,
oopen.TopSerif,
eng.UCStyle,
abreveacute.VN,
abrevegrave.VN,
abrevehookabove.VN,
abrevetilde.VN,
acircumflexacute.VN,
acircumflexgrave.VN,
acircumflexhookabove.VN,
acircumflextilde.VN,
ecircumflexacute.VN,
ecircumflexgrave.VN,
ecircumflexhookabove.VN,
ecircumflextilde.VN,
ocircumflexacute.VN,
ocircumflexgrave.VN,
ocircumflexhookabove.VN,
ocircumflextilde.VN,
abreveacute.2StorySItal.VN,
abrevegrave.2StorySItal.VN,
abrevehookabove.2StorySItal.VN,
abrevetilde.2StorySItal.VN,
acircumflexacute.2StorySItal.VN,
acircumflexgrave.2StorySItal.VN,
acircumflexhookabove.2StorySItal.VN,
acircumflextilde.2StorySItal.VN,
abreveacute.SngStory.VN,
abrevegrave.SngStory.VN,
abrevehookabove.SngStory.VN,
abrevetilde.SngStory.VN,
acircumflexacute.SngStory.VN,
acircumflexgrave.SngStory.VN,
acircumflexhookabove.SngStory.VN,
acircumflextilde.SngStory.VN,
fi,
fl,
ordfeminine,
ordmasculine,
Delta,
Pi,
Omega,
mu,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
space,
nbspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
softhyphen,
endash,
emdash,
horizontalbar,
hyphentwo,
nonbreakinghyphen,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
colonmod,
minusmod,
shortequalmod,
colonmod.Wide,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
cent,
currency,
dollar,
euro,
sterling,
yen,
bulletoperator,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
integral,
product,
summation,
radical,
partialdiff,
percent,
perthousand,
dottedCircle,
lozenge,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
hookabovecomb,
dblgravecomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
macronbelowcomb,
dbloverlinecomb,
doublemacroncomb,
doublemacronbelowcomb,
macroncomb.Short,
macronbelowcomb.Short,
circumflexcomb_gravecomb.VN,
circumflexcomb_acutecomb.VN,
circumflexcomb_tildecomb.VN,
circumflexcomb_hookabovecomb.VN,
brevecomb_gravecomb.VN,
brevecomb_acutecomb.VN,
brevecomb_tildecomb.VN,
brevecomb_hookabovecomb.VN,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
glottalstopmod,
macronlowmod,
apostrophemod.Lrg,
uniF130,
uniF131,
_dot,
_c.arch,
_c.bowlL,
_c.bowlR,
_c.stemL,
_c.stemLA,
_c.stemLD,
_c.stemR,
_c.stemRA
)